
# Ignorar carpetas del sistema de macOS
.DS_Store
.AppleDouble
.LSOverride

# Ignorar archivos de configuración de macOS
Icon?
._*

# Ignorar la papelera de macOS
.Trashes
.Trash

# Ignorar archivos y carpetas específicas de Obsidian
.obsidian/       # Excluir la carpeta de configuración de Obsidian (puedes eliminar esta línea si deseas incluir la configuración)
workspace       # Archivo que guarda la última sesión de Obsidian

# Ignorar archivos temporales y de caché
*.log           # Archivos de registro
*.tmp           # Archivos temporales
.cache/         # Carpeta de caché

# Ignorar archivos de edición de texto y conflicto
*.swp           # Archivos temporales de vim
*.swo           # Archivos temporales de vim
*.bak           # Archivos de respaldo
*.orig          # Archivos de respaldo en caso de conflictos de merge
